# repos: biconda, conda-forge, defaults, r

samtools ==1.2
htslib ==1.4 # 1.5 in bioconda needed libbz2.so.1.0
bedtools ==2.26.0 #2.22 # 2.21.0
picard ==2.10.6 #==1.126 # wanted 1.129 here but doesn't exist. instead 1.139 has backward compatibility issue, so take 1.126
ucsc-fetchchromsizes
ucsc-wigtobigwig
ucsc-bedgraphtobigwig
ucsc-bigwiginfo
ucsc-bedclip
ucsc-bedtobigbed
ucsc-twobittofa
macs2 ==2.1.1.20160309 #2.1.0 (no binaries for OSX)
boost ==1.57.0
openblas ==0.2.20
numpy ==1.11.3 #1.10.2 (no binaries for OSX) #1.9.0, 1.8.2 conflicts with ATAQC
matplotlib #==1.5.1
six==1.11.0 # to fix (ImportError: cannot import name _thread)
python-dateutil==2.6.1
libgfortran==3.0
graphviz ==2.38.0
libtool
ghostscript # pdf2png
pigz
zlib
sambamba ==0.6.6 # to fix seg fault error in 0.6.1
r ==3.2.2
r-snow
r-snowfall
r-bitops
r-catools
bioconductor-rsamtools
r-spp ==1.13
#glibc #segmentation fault in conda with openssl
pyfaidx ==0.4.7.1

cutadapt ==1.9.1
preseq ==2.0.3
trim-galore ==0.4.1 # for old trimmer
python-levenshtein # for old trimmer (trimAdapter.py)

bowtie2 ==2.2.6
ncurses ==6.1
ucsc-bigWigAverageOverBed
gnuplot #==5.0.3
scipy # ==0.17.0: to fix 'undefined symbol: PyUnicodeUCS2_DecodeUTF8'
pandas #==0.18.0 #==0.16.1 # ataqc
metaseq #==0.5.6 # ataqc
jinja2 # ataqc
gsl # for preseq
pysam==0.8.4 # 0.8.3, 0.9 from bioconda has an issue with ATAQC (segmentation fault), need to use -c bcbio
pybedtools==0.6.9 # same issue as in pysam
cromwell==0.34
phantompeakqualtools ==1.2
tabix==0.2.6
openssl==1.0.2p
readline==6.2

jsondiff==1.1.1
