# repos: biconda, conda-forge, defaults, r

java-jdk ==8.0.92

python ==3.5.0

libgcc==5.2.0
ncurses ==6.1
readline==6.2
pyhocon
requests
pandas

openblas ==0.2.20
numpy ==1.11.3
matplotlib ==2.0.0 #==1.5.1

idr ==2.0.4.2
bedtools ==2.26.0
tabix==0.2.6
